{% extends 'class_app/class_app_base.html' %}

{% block body %}
    <h1>Welcom To School Details</h1>

    <p>Name : {{school_detail.name}}</p>
    <p>Principal : {{school_detail.principal}}</p>
    <p>Location : {{school_detail.location}}</p>
    
    <h3>Students</h3>
    {% for student in school_detail.students.all %}
    <p>{{student.name}} who is {{student.age}} year old</p>
    {% endfor %}

    <div class="container">
        <p><a href="{% url 'class_app:update' pk=school_detail.pk%}">Update</a></p>
        <p><a href="{% url 'class_app:delete' pk=school_detail.pk%}">Delete</a></p>
    </div>


{% endblock %}